{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="repository-entry">
  <h2>{{ view.kwargs.user }}</h2>
</div>
<div>
  <p>
    <span class="fw-bold">
        {% if User_roles %}
        {% for role in User_roles %}
        <p>{{ role.role_id.role_name }}</p>
        {% endfor %}
        {% endif %}
    </span>
  </p>

  <!-- Tasks List -->
  {% for task in User_tasks %}
  <div class="card">
    <div class="d-inline-flex card-header align-items-center justify-content-between">
      <div class="text-start">
        <span class="fw-bold"> {{ task.task_id.title }} </span>
      </div>
      <div class="text-end">
        <span>{{ task.task_id.get_priority_display }} | {{ task.task_id.get_status_display }}</span>
      </div>
    </div>
    <div class="card-body">
      <div>
        {{ task.task_id.description }}
      </div>
    </div>
    <div class="d-inline-flex card-footer text-center text-muted align-items-center justify-content-between">
      <div class="text-start">
        <span>Created {{ task.task_id.created }} by {{ task.task_id.created_by }}</span>
      </div>
      <div class="text-end">
        <a class="btn btn-primary" href="" role="button">History</a>
        <a class="btn btn-warning" href="{% url 'task_edit' task.task_id.repo_id.repo_id task.task_id.repo_id.name task.task_id.task_id %}" role="button">Modify</a>
        <a class="btn btn-warning" href="{% url 'task_status' task.task_id.repo_id.repo_id task.task_id.repo_id.name task.task_id.task_id %}" role="button">Change Status</a>
        <a class="btn btn-warning" href="{% url 'task_delete' task.task_id.repo_id.repo_id task.task_id.repo_id.name task.task_id.task_id %}" role="button">Delete</a>
      </div>
    </div>
  </div>
  <br />
  {% endfor %}
  <p>Back to <a href="{% url 'repository_detail' view.kwargs.pk view.kwargs.name%}">{{ view.kwargs.name }}</a></p>
</div>
{% endif %}
{% endblock content %}