{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="repository-entry">
  <h2>{{ view.kwargs.username }}</h2>
</div>
<div>
  <p>
    <span class="fw-bold">
        {% if user_roles %}
        {% for ur in user_roles %}
        <p>{{ ur.role.role_name }}</p>
        {% endfor %}
        {% endif %}
    </span>
  </p>

  <!-- Tasks List -->
  {% for ut in user_tasks %}
  <div class="card">
    <div class="d-inline-flex card-header align-items-center justify-content-between">
      <div class="text-start">
        <span class="fw-bold"> {{ ut.task.title }} </span>
      </div>
      <div class="text-end">
        <span>{{ ut.task.get_priority_display }} | {{ ut.task.get_status_display }}</span>
      </div>
    </div>
    <div class="card-body">
      <div>
        {{ ut.task.description }}
      </div>
    </div>
    <div class="d-inline-flex card-footer text-center text-muted align-items-center justify-content-between">
      <div class="text-start">
        <span>Created {{ ut.task.created }} by {{ ut.task.created_by }}</span>
      </div>
      <div class="text-end">
        <a class="btn btn-primary" href="" role="button">History</a>
        <a class="btn btn-warning" href="{% url 'task_edit' ut.task.repo.repo_id ut.task.repo.name ut.task.task_id %}" role="button">Modify</a>
        <a class="btn btn-warning" href="{% url 'task_status' ut.task.repo.repo_id ut.task.repo.name ut.task.task_id %}" role="button">Change Status</a>
        <a class="btn btn-warning" href="{% url 'task_delete' ut.task.repo.repo_id ut.task.repo.name ut.task.task_id %}" role="button">Delete</a>
      </div>
    </div>
  </div>
  <br />
  {% endfor %}
  <p>Back to <a href="{% url 'repo_detail' view.kwargs.repo_id view.kwargs.repo_name%}">{{ view.kwargs.repo_name }}</a></p>
</div>
{% endif %}
{% endblock content %}