{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
{% if user.is_authenticated %}
<div class="row justify-content-center">
    <div class="col-4">
        <div class="bg-dark border py-2 px-5 text-warning">
            <div class="py-2 align-top text-center">
                <h1 class="text-uppercase">REPOSITORY PROFILE</h1>
            </div>
            <div class="py-2">
                USERNAME: <span class="fw-bold text-white">{{view.kwargs.username}}</span>
            </div>
            <div class="d-grid gap-3 col-6 mx-auto w-100">
                ROLES:
                <ul class="fw-bold text-white"> 
                {% if user_roles %}
                {% for ur in user_roles %}
                <li>{{ ur.role.role_name }}</li>
                {% endfor %}
                {% endif %}
            </div>
            <div class="py-2 align-bottom">Back to <a class="text-white text-decoration-none" href="{% url 'repo_detail' view.kwargs.repo_id view.kwargs.repo_name%}">{{ view.kwargs.repo_name }}</a></div>
        </div>
    </div>
    <div class="col-8">
        <!-- Tasks List -->
        {% for ut in user_tasks %}
        <div class="card">
            <div class="d-inline-flex card-header align-items-center justify-content-between bg-black text-warning">
                <div class="text-start">
                    <span class="fw-bold"><a class="text-warning text-decoration-none" href="{% url 'task_detail' view.kwargs.repo_id view.kwargs.repo_name ut.task.task_id %}">{{ ut.task.title }}</span></a>
                </div>
                <div class="text-end">
                    <span>{{ ut.task.get_priority_display }} | {{ ut.task.get_status_display }}</span>
                </div>
            </div>
            <div class="card-body bg-dark text-white border-top border-bottom">
                {{ ut.task.description }}
            </div>
            <div class="d-inline-flex card-footer text-center align-items-center justify-content-between bg-black text-warning">
                <div class="text-start">
                  Created by <a class="text-white text-decoration-none" href="{% url 'repo_personal_profile' view.kwargs.repo_id view.kwargs.repo_name ut.task.created_by.get_username%}">{{ ut.task.created_by }}</a>
                </div>
                <div class="d-flex gap-1 text-end">
                    <a class="btn btn-secondary order-1" href="{% url 'task_history' view.kwargs.repo_id view.kwargs.repo_name ut.task.task_id %}" role="button">History</a>
                    {% with button_rendered_modify=False button_rendered_change_status=False%}
                    {% for rau in repo_auth_user_role %}
                        {% if rau.role.can_manage_tasks and not button_rendered_modify %}
                            <a class="btn btn-warning order-2" href="{% url 'task_edit' view.kwargs.repo_id view.kwargs.repo_name ut.task.task_id %}" role="button">Modify</a>
                            {% changeStatement button_rendered_modify as button_rendered_modify %}
                        {% endif %}
                        {% if rau.role.can_change_status_if_task_assigned and not button_rendered_change_status %}
                            {% for rt in repo_tasks_assignment %}
                                {% if rt.ass_user.username == user.get_username and rt.task.task_id == ut.task.task_id%}
                                    <a class="btn btn-warning order-3" href="{% url 'task_status' view.kwargs.repo_id view.kwargs.repo_name ut.task.task_id %}" role="button">Change Status</a>
                                {% endif %}
                            {% endfor %}
                            {% changeStatement button_rendered_change_status as button_rendered_change_status %}
                        {% endif %}
                    {% endfor %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <br />
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock content %}