{% extends "base.html" %}

{% block title %}Repository{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<!-- Repository List -->
{% if repo_list %}
{% for repository in repo_list %}
<div class="card">
  <div class="card-body">
    <span class="fw-bold">
      <a href="{% url 'repo_detail' repository.repo_id repository.name %}">{{ repository.name }}</a>
    </span>
  </div>
  <div class="card-footer text-center text-muted">
    <span>Created {{ repository.created }} by {{ repository.created_by }}</span>
    <span>Last modified {{ repository.last_modified }}</span>
  </div>
</div>
<br />
{% endfor %}
{% endif %}
{% endif %}
{% endblock content %}