{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="repository-entry">
  <h2>{{ repository.name }}</h2>
</div>
<div>
  <p>
    <a class="btn btn-primary" href="{% url 'repo_personal_profile' repository.repo_id repository.name user.get_username%}" role="button">Your repo profile</a>
    <a class="btn btn-primary" href="{% url 'task_new' repository.repo_id repository.name %}" role="button">Create Task</a>
    <a class="btn btn-primary" href="{% url 'repo_user_list' repository.repo_id repository.name %}" role="button">Users Manager</a>
    <a class="btn btn-primary" href="{% url 'role_list' repository.repo_id repository.name %}" role="button">Roles Manager</a>
    <a class="btn btn-primary" href="{% url 'repo_delete' repository.repo_id repository.name %}" role="button">Cancel Repo</a>
  </p>

  <!-- Tasks List -->
  {% for rt in repo_tasks %}
  <div class="card">
    <div class="d-inline-flex card-header align-items-center justify-content-between">
      <div class="text-start">
        <span class="fw-bold"> {{ rt.title }} </span>
      </div>
      <div class="text-end">
        <span>{{ rt.get_priority_display }} | {{ rt.get_status_display }}</span>
      </div>
    </div>
    <div class="card-body">
      <div>
        {{ rt.description }}
      </div>
      <div class="text-muted">
        assigned to:<br>
        {% for at in repo_tasks_assignment %}
          {% if at.task.task_id == rt.task_id %}
            {{ at.ass_user.username }} <a class="btn btn-danger" href="{% url 'task_remove_assign' view.kwargs.repo_id view.kwargs.repo_name rt.task_id rt.title at.ass_user.username%}" role="button">Remove</a><br>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="d-inline-flex card-footer text-center text-muted align-items-center justify-content-between">
      <div class="text-start">
        <span>Created {{ rt.created }} by {{ rt.created_by }}</span>
      </div>
      <div class="text-end">
        <a class="btn btn-primary" href="{% url 'task_history' rt.repo.repo_id rt.repo.name rt.task_id %}" role="button">History</a>
        <a class="btn btn-primary" href="{% url 'task_assign' rt.repo.repo_id rt.repo.name rt.task_id%}" role="button">Assign</a>
        <a class="btn btn-warning" href="{% url 'task_edit' rt.repo.repo_id rt.repo.name rt.task_id %}" role="button">Modify</a>
        <a class="btn btn-warning" href="{% url 'task_status' rt.repo.repo_id rt.repo.name rt.task_id %}" role="button">Change Status</a>
        <a class="btn btn-warning" href="{% url 'task_delete' rt.repo.repo_id rt.repo.name rt.task_id %}" role="button">Delete</a>
      </div>
    </div>
  </div>
  <br />
  {% endfor %}
  <p>Back to <a href="{% url 'repo_list' %}">Repository List</a>.</p>
</div>
{% endif %}
{% endblock content %}