{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<div class="row align-items-center justify-content-center">
    <div class="col-6 bg-dark p-5 border">
        <h1 class="text-warning text-uppercase">Password change</h1>
        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

        <form method="POST">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-warning w-100 fw-bold fs-4 mt-5 py-2" type="submit" value="Change my password">
        </form>
    </div>
</div>
{% endblock content %}