{% extends "base.html" %}

{% block title %}Password reset complete{% endblock title %}

{% block content %}
<div class="row align-items-center justify-content-center">
    <div class="col-6 bg-dark p-5 border">
        <h1 class="text-warning text-uppercase">Password reset complete</h1>
        <p>Your new password has been set.</p>
        <p>You can log in now on the
            <a class="text-warning" href="{% url 'login' %}">Log In page</a>.
        </p>
    </div>
</div>
{% endblock content %}