{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<h1>Hi {{ user.username }}!</h1>
<p><a class="btn btn-primary btn-lg" href="{% url 'list_assigned_tasks' %}" role="button">Watch your assigned tasks</a></p>
<p><a class="btn btn-primary btn-lg" href="{% url 'repo_list' %}" role="button">Watch your repositories</a></p>
<p><a class="btn btn-primary btn-lg" href="{% url 'repo_new' %}" role="button">Create repository</a></p>
<!-- new -->
{% else %}
<h1>Welcome in Task Management System</h1>
{% endif %}
{% endblock content %}