{% extends "base.html" %}

{% block title %}Repository Roles{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<div class="repository-entry">
    <h2>{{ repo.name }} Roles Manager</h2>
</div>
<div>
    <p>
        <a class="btn btn-primary" href="{% url 'role_new' repo.repo_id repo.name %}" role="button">Create Role</a>
    </p>
    <!-- Role List -->
    {% for role in role_list %}
    <div class="card">
        <div class="d-inline-flex card-header align-items-center justify-content-between">
            <div class="text-start">
                <span class="fw-bold"> {{ role.role_name }} </span>
            </div>
        </div>
        <div class="card-body">
            <span class="fw-bold">
                {% if repo_users %}
                {% for uwr in repo_users %}
                {% if uwr.role.role_id == role.role_id %}
                <p>{{ uwr.rp_user.username }} <a class="btn btn-danger" href="{% url 'role_remove_assign' repo.repo_id repo.name role.role_id role.role_name uwr.rp_user.username%}" role="button">Remove</a> </p>
                {% endif %}
                {% endfor %} 
                {% endif %}
            </span>
        </div>
        <div class="card-footer text-center text-muted">
            <a class="btn btn-primary" href="{% url 'role_assign' repo.repo_id repo.name role.role_id%}" role="button">Assign</a>
            <a class="btn btn-primary" href="{% url 'role_edit' repo.repo_id repo.name role.role_id%}" role="button">Modify</a>
            <a class="btn btn-primary" href="{% url 'role_delete' repo.repo_id repo.name role.role_id%}" role="button">Cancel</a>
        </div>
    </div>
    <br />
    {% endfor %}
    <p>Back to <a href="{% url 'repo_detail' repo.repo_id repo.name%}">{{ repo.name }}</a></p>
</div>
{% endif %}
{% endblock content %}