{% extends "base.html" %}

{% block title %}Repository Roles{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<div class="repository-entry">
    <h2>{{ repo.name }} Users Manager</h2>
</div>
<div>
    <p>
        <a class="btn btn-primary" href="{% url 'repo_user_add' repo.repo_id repo.name %}" role="button">Add User</a>
    </p>
    <!-- Repo Users List -->
    {% for repo_user in repo_user_list %}
    <div class="card">
        <div class="d-inline-flex card-header align-items-center justify-content-between">
            <div class="text-start">
                <span class="fw-bold"> {{ repo_user.username }} </span>
            </div>
        </div>
        <div class="card-body">
            <span class="fw-bold">
                {% if users_role_list %}
                {% for role_user in users_role_list %}
                {% if role_user.rp_user.username == repo_user.username %}
                <p>{{ role_user.role.role_name }}</p>
                {% endif %}
                {% endfor %}
                {% endif %}
            </span>
        </div>
        <div class="card-footer text-center text-muted">
            <a class="btn btn-primary" href="{% url 'repo_user_remove' repo.repo_id repo.name repo_user.username%}" role="button">Delete</a>
        </div>
    </div>
    <br />
    {% endfor %}
    <p>Back to <a href="{% url 'repo_detail' repo.repo_id repo.name%}">{{ repo.name }}</a></p>
</div>
{% endif %}
{% endblock content %}